@import "../../assets/styles/variables.scss";

.user-profile {
    gap: 1rem;
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
    flex-direction: column;

    &__picture-container {
        gap: 0.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__picture {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        border-radius: 50%;
    }

    &__user-name {
        color: $dark-color;
    }

    &__options-container {
        gap: 0.7rem;
        width: 100%;
        display: flex;
        max-width: 450px;
        margin-bottom: 1rem;
        flex-direction: column;
    }

    &__option {
        display: flex;
        padding: 0.95rem 1rem;
        border-radius: 10px;
        background-color: $light-gray;
        justify-content: space-between;

        &:hover {
            cursor: pointer;
            background-color: $main-color;
        }

        &-info {
            gap: 0.6rem;
            display: flex;
            align-items: center;
        }

        &-icon {
            width: 1.3rem;
            filter: invert(26%) sepia(0%) saturate(0%) hue-rotate(120deg) brightness(99%) contrast(100%);
        }

        &-title {
            font-size: 15px;
            color: $dark-color;
        }
    }

    &__arrow-icon {
        width: 1.2rem;
    }

}

@media screen and (min-width: 650px) {
    .user-profile {
        padding: 0;
    }
}

@media screen and (min-width: 1500px) {
    .user-profile {

        &__user-name {
            font-size: 18px;
        }

        &__options-container {
            max-width: 500px;
        }

        &__option {

            &-icon {
                width: 1.5rem;
            }

            &-title {
                font-size: 17px;
                color: $dark-color;
            }
        }
    }

}