@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "./variables.scss";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.swal2-confirm {
    font-family: 'Roboto', sans-serif;
    background-color: $main-color!important;
    box-shadow: none !important;
    &:hover {
     transform: scale(1.02);
    }
}