$main-color: #FFE031;
$main-color-hover: #FFDC15;
$dark-color: #414141;
$gray-color: #A7A7A7;
$green-color: #77DF52;
$light-gray: #F2F2F2;
$red-color: #DF5252;
$skin-color: #FFEE8D;
$background_inputs: #e0e0e0;
$complementary-color: #CCCCCC;
$font-buttons-category-color: #6C6C6C;